{% extends 'base.html' %} {% block content %}

<div class="jobs-container">
  <h2 style="text-align: center">💼 Available Jobs</h2>

  <div style="display: flex; flex-wrap: wrap; justify-content: center">
    {% for job in jobs %}
    <div class="job-card">
      <h3 class="job-title">{{ job.title }}</h3>
      <p><strong>{{ job.company }}</strong></p>
      <p>{{ job.location }}</p>

      <hr />

      {% if user.is_authenticated and user.profile.role == "jobseeker" %}
      <a href="/apply/{{ job.id }}/" class="apply-btn"> Apply Now </a>

      {% elif user.is_authenticated and user.profile.role == "recruiter" %}
      <p style="color: green">You posted this job</p>

      {% endif %}
    </div>

    {% empty %}
    <p class="no-job">No jobs available</p>

    {% endfor %}
  </div>
</div>

{% endblock %}
