{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="glass">
    <h2>Create Account</h2>

    <form method="POST">
      {% csrf_token %}

      <input type="text" name="name" placeholder="Username" required />

      <input type="email" name="email" placeholder="Enter Email" required />

      <input
        type="password"
        name="password"
        placeholder="Password (min 6 chars)"
        required
      />

      <!-- ✅ ADD THIS (VERY IMPORTANT) -->
      <select name="role" required>
        <option value="">Select Role</option>
        <option value="jobseeker">Job Seeker</option>
        <option value="recruiter">Recruiter</option>
      </select>

      <button class="btn">Sign Up</button>
    </form>

    <p style="text-align: center">
      Already have account? <a href="/login/">Login</a>
    </p>
  </div>
</div>

{% endblock %}
