{% extends 'base.html' %} {% block content %}

<div style="max-width: 600px; margin: auto; margin-top: 50px">
  <h2 style="text-align: center">🆘 Help & Support</h2>

  <form method="POST">
    {% csrf_token %}

    <textarea
      name="message"
      rows="6"
      placeholder="Describe your issue..."
      style="width: 100%; padding: 10px; margin: 10px 0; border-radius: 6px"
    ></textarea>

    <button
      type="submit"
      style="width: 100%; padding: 10px; background: #28a745; color: white"
    >
      Send Request
    </button>
  </form>
</div>
<!-- SUPPORT / SOS -->
<div class="section">
  <h3>🆘 SOS Messages</h3>

  <table>
    <tr>
      <th>User</th>
      <th>Message</th>
      <th>Reply</th>
      <th>Action</th>
    </tr>

    {% for s in support_msgs %}
    <tr>
      <td>{{ s.user.username }}</td>

      <td style="color: #f97316">{{ s.message }}</td>

      <td>
        {% if s.reply %}
        <span style="color: green">{{ s.reply }}</span>
        {% else %}
        <span style="color: red">No reply</span>
        {% endif %}
      </td>

      <td>
        <form method="POST" action="/admin-reply/{{ s.id }}/">
          {% csrf_token %}
          <input
            type="text"
            name="reply"
            placeholder="Write reply"
            style="padding: 5px; width: 120px"
          />
          <button type="submit">Reply</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
